body {
  color: rgb(112,128,144);
  background-image: linear-gradient(rgb(255, 228, 225),rgb(240,255,240));
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

div {
  min-height: 50vh;
  width: 100vw;
  padding: 50px 50px 50px 50px;
}

h1, h2, h3, h4 {
  text-align: center;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.7em;
}

p {
  width: 80%;
  margin: 10vh 10vw;
  font-size: 1.5em;
}

ul {
  list-style-type: circle;
  display: grid;
  font-size: 1.5em;
  padding: 50px 50px 50px 50px;
}

li {
  transition: 0.6s ease-in-out;
}

li:hover {
  font-size: 1.2em;
  transition: 0.3s ease-in-out;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.contrast {
  background-color: white;
  color: rgb(112,128,144);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 50px 50px 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
